

/* .logo {
  height: 34px;
  object-fit: contain;
} */

.header-nav {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right:20px;
  font-size: 17px;
}

.header-nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: opacity 0.2s;
    margin-right:20px;
}

.header-nav a:hover {
  opacity: 0.8;
}

.header-nav span {
  color: rgba(255, 255, 255, 0.6);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 17px;
  font-weight: 500;
}

.currency {
  display: flex;
  align-items: center;
  gap: 6px;
}

.flag {
  width: 20px;
  height: 14px;
  border-radius: 2px;
  object-fit: cover;
}

.lang {
  cursor: pointer;
}
.header-left {
  display: flex;          /* makes children (logo + text) align horizontally */
  align-items: center;    /* vertically centers them */
  gap: 10px;              /* space between logo and text */
}

.logoheader {
  width: 35px;   /* adjust size */
  height: 20px;
}

.brand {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
/* Hide hamburger on desktop */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
  .header-right {
    position: relative;
  }

  /* Show hamburger */
  .hamburger {
    display: block;
  }

  /* Hide nav by default */
  .header-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;  /* adjust based on header height */
    right: 0;
    background: linear-gradient(90deg, #0ea5e9, #10b981);
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  }

  /* Show nav when menuOpen = true */
.header-nav.open {
  display: flex;
  flex-direction: column;
}

  .header-nav a, 
  .header-nav span {
    margin: 8px 0;
    font-size: 16px;
  }
}

.dropdown-footer {
  background: #007bff;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 12px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
}

